<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/pagination.js"></script>
    <title>CancerDB</title>
    <%- include("partials/head") -%>
</head>
    <body>
        <%- include("partials/navigation") %>
        <div class="container-fluid p-5 ">
            <div id="card-container" class="row">
                <div id="image-card-prototype" class="card m-card mb-4 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <a class="card-link" href="">
                        <img src="" class="card-img-top border-25 soft-shadow" alt="">
                        <p class="image-title mt-2 mb-0"></p>
                    </a>
                    <div class="m-0" style="cursor:pointer">
                        <a class="image-copyright" target="_blank" href=""></a>
                    </div>
                </div>
            </div>
        </div>
        <%- include("partials/loading") %>
        <div id="page-end" class="hidden d-flex justify-content-center">
            End of results !
        </div>
    </body>
</html>