*{
    font-family: 'Roboto', sans-serif !important;
}
body {
    background: #e4e9ee;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #111111, #111111);  */
    /* background: linear-gradient(to right, #111111, #111111);  */
}
.soft-shadow{
    -webkit-box-shadow: 0px 0px 60px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 60px -30px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 60px -30px rgba(0,0,0,0.75);
}
.focus-shadow{
    -webkit-box-shadow: 0px 0px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -2px rgba(0,0,0,0.75);
}
.card:hover .card-img-top{
    -webkit-box-shadow: 0px 0px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -2px rgba(0,0,0,0.75);
}
.search-row{
    width: 100%;
}
.border-25{
    border-radius: 25px;
}
.image-title-link{
    color: black;
}
a:link { text-decoration: none !important; }
a:visited { text-decoration: none !important; }
a:hover { text-decoration: none !important; }
a:active { text-decoration: none !important; }

#image-card-prototype{
    display: none;
}
.light-green{
    background:#9bffbc;
    color:#17572c;
}
.image-copyright{
    font-size: .7em;
}
.navbar{
    color:#000000 !important;
}
.image-title{
    color: rgb(0, 0, 0);
}
.e-container{
    display: flex;
}
.m-card{
    background-color: #ffffff00;
    border: none;
    text-align: center;
}
#loading-gfx{
    margin-bottom: 5em;
}
#page-end{
    padding-bottom:5em;
}
.hidden{
    display: none !important;
}
