<div id="loading-gfx" class="hidden p-1 d-flex justify-content-center">
	<div class="DNA_cont">
		<div class="nucleobase"></div>
		<div class="nucleobase"></div>
		<div class="nucleobase"></div>
		<div class="nucleobase"></div>
		<div class="nucleobase"></div>
		<div class="nucleobase"></div>
		<div class="nucleobase"></div>
		<div class="nucleobase"></div>
		<div class="nucleobase"></div>
		<div class="nucleobase"></div>
	  </div>
</div>