
<nav class="navbar navbar-light bg-light border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"> <b>Mitosis</b>.pictures</a>
      <form class="d-flex flex-row">
        <a class="nav-link m-0" href="/upload">
            Upload
        </a>
      </form>
    </div>
  </nav>
  <nav class="navbar">
    <form action="/" method="get" class="search-row" enctype="multipart/form-data">
      <div class="form-group">
          <input class="soft-shadow form-control me-10" type="text" name="search" placeholder="Search" aria-label="Search" >
      </div>
  </form>
    
  </nav>
